*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color:  gray;;
    color: black;
    
} 

 header{
    text-align: center;
    background-color: rgb(121, 39, 39);
    color: rgb(249, 247, 247);
    padding: 10px;
}

 #profile{

    width: 300px;
    height: 300px;
    position: relative;
    left: 900px;
    top: 100px;
 }


 .content {
    display: flex;
   flex-direction: column;
   position: relative;
   bottom: 200px;
   left: 200px;
   margin: 40px;
  
} 
button{
    background-color: rgb(121, 39, 39);
    color: rgb(19, 18, 18);
    height: 35px;
    width: 95px;
    border-radius: 30px;
    box-shadow: 5px 10px 10px;
    position: relative;
    left: 250px;
    bottom: 150px;
   
}

a{
    text-decoration: none;
    color:rgb(224, 220, 220) ;
}

button:hover{
    background-color: black;
    color: rgb(76, 78, 76);
  
    text-decoration-color: rgb(0, 0, 0) ;
    
    
}

img{
    width: 100%;
    height: 150px;
    image-resolution: 100px;
    
}
.study{
    border: 2px solid black;
    height: 500px;
    width: 200px;
    margin: 30px;
    position: relative;
    bottom: 80px;
}

 .study h2{
    
    width: 200px;
    height: 500px;
    margin: 20px;
    padding: 30px;
    font-size: 20px;
    position: relative;
    top: 40px;
}

.study h3{
    position: relative;
    bottom: 550px;
    left: 250px;
    width: 500px;
    font-size: 35px;
    font-style: oblique;
    color: aliceblue;

    
}

.study h4{
    position: relative;
    bottom: 530px;
    left: 250px;
    width: 500px;
    font-style: oblique;
}

.study p{
    position: relative;
    bottom: 500px;
    left: 250px;
    width: 500px;
    font-style: oblique;
}

.course h2{
    position: relative;
    bottom: 300px;
    font-size: 20px;
    left: 150px
}

.course h3{
     position: relative;
    bottom: 400px;
    left: 270px;
    width: 500px;
    font-size: 35px;
    font-style: oblique;
    color: aliceblue;

}

.course h4{
     position: relative;
    bottom: 380px;
    left: 270px;
    width: 500px;
    font-style: oblique;
}

.course p{
     position: relative;
    bottom: 350px;
    left: 270px;
    width: 500px;
    font-style: oblique;
}