*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact{
    background-color: gray;;
    padding: 5cm;
    border-radius: 8px;
    box-shadow: 0 4px 8px;
    margin: 50px;
}

h1{
    margin-top: 20px;
    color: black;
    text-align: center;
    position: relative;
    bottom: 100px;

}

.para{

    border: 1px double black;
    padding: 30px;
    border-radius: 40px;
    width: 550px;
    text-align: center;
    position: relative;
    left: 200px;
}
footer{
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    font-size: 15px;
    color: rgb(10, 10, 10);
    
}
/* .marq{
     width: 100%;
    height: 100px;
    
    font-size: 30px;
    color: rgb(218, 208, 12);
  
}

