

/* -------------------------
   BASE STYLES
-------------------------- */
:root {
  --primary: #6c63ff;
  --text: #222;
  --bg: #ffffff;
  --card:#8f6aff,;
}

/* Dark Theme */
[data-theme="dark"] {
  --primary: #1ab9e1;
  --text: #ffffff;
  --bg: #0c0c0c;
  --card: #6c63ff;
  
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 80px 7%;
}

/* -------------------------
   NAVBAR
-------------------------- */
.navbar {
  width: 100%;
  background: var(--bg);
  padding: 18px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
 
}

.logo {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--primary);
}

.navbar-menu ul {
  display: flex;
  gap: 40px;
 list-style: none;
}

.navbar-menu ul li a {
  color: var(--text);
  font-weight: 500;
  transition: 0.3s;

}

.navbar-menu ul li a:hover {
  color: var(--primary);
  background: rgba(67, 48, 107, 0.15);
  border-radius: 4px;
}

/* -------------------------
   MENU TOGGLE (MOBILE)
-------------------------- */
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 28px;
}

.navbar-menu {
  transition: 0.4s ease-in-out;
}

.navbar-menu.active {
  right: 0;
}

/* -------------------------
   THEME SWITCH TOGGLE
-------------------------- */
.theme-switch {
  position: relative;
  width: 50px;
  height: 24px;
  display: inline-block;
}

.theme-switch input {
  display: none;
}

.slider {
  width: 100%;
  height: 100%;
  background: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
  display: block;
}

.slider:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2px;
  bottom: 2px;
  background: #111111;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background: var(--primary);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* -------------------------
   HOME SECTION
-------------------------- */
.Home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 60px;
}

.Home-info h1 {
  font-size: 60px;
  color: var(--primary);
}

.Home-info h2 {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: transparent;
  -webkit-text-stroke: 1px #090909;
  background-image: linear-gradient(rgb(4, 4, 4));
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-clip: text;
  animation: animate 6s linear infinite;
 
}
@keyframes animate {
  0%,
  100% {
    background-position: -60rem 0;
  }
  80%,
  90% {
    background-position: 0 0;
  }
}


.Home-info p {
  margin: 20px 0;
  max-width: 500px;
  line-height: 1.6;
}

.links a {
  font-size: 28px;
  margin-right: 15px;
  transition: 0.3s;
  color: var(--primary);
}

.links a:hover {
  background-color: black;
  color: white;
  border-radius: 20%;
  border: 2px solid(#1ab9e1);
  box-shadow: 0 0 10px white;
}


.download-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 25px;
  background: var(--primary);
  color: white;
  border-radius: 8px;
  transition: 0.3s;
}

.download-btn:hover {
  transform: translateY(-3px);
}

/* Home Image */
.home-img .img-box {
  width: 450px;
  height: 450px;
  /* background: var(--card); */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
}


/* HOME IMAGE SLIDE ANIMATION */
.home-img {
  position: relative;
  
}

.img-box {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.img-box .img-item{

  height: 400px;
  width: 400px;
}

/* Sliding Glow Border */
.img-box::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -40%;
  left: -40%;
  background: linear-gradient(
    45deg,
    #6c63ff,
    #8f6aff,
    #9e73ff,
    #6c63ff
  );
  animation: rotateSlide 6s linear infinite;
}

/* Inner circle */
/* .img-item {
  position: absolute;
  inset: 10px;
  background: var(--bg);
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.img-item img {
  width: 90%;
  animation: imageFloat 3s ease-in-out infinite;
}
/* 
/* Keyframes */
@keyframes rotateSlide {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes imageFloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  } 
}




/* -------------------------
   ABOUT
-------------------------- */
.about-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-text h4 {
  color: var(--primary);
  font-size: 25px;
}

.about-text h2 {
  font-size: 35px;
  margin: 10px 0;
}

.about-image img {
  width: 300px;
}

/* -------------------------
   PROJECTS (SERVICE)
-------------------------- */
.service-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  gap: 25px;
}

.service-box {
  background: var(--primary);
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
  text-align: center;
}

.service-box:hover {
  transform: translateY(-8px);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
   transform: scale(1.05);
  background-color:var(--primary);
  color: rgb(255, 255, 255);
  
}

/* -------------------------
   EDUCATION
-------------------------- */
.Education-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  gap: 25px;
  

}

.Education-box {
  /* background-color:var(--card); */
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
}

.Education-box:hover {
  transform: translateY(-8px);
  background-color:var(--primary);
  color: #ffffff;
}

/* -------------------------
   SKILLS
-------------------------- */
.skills-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 40px;
}

.technical-section .line {
  padding: 10px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.soft-section ul {
  list-style: inside;
  font-size: 18px;
}

/* -------------------------
   CONTACT FORM
-------------------------- */
.form-container {
  max-width: 650px;
  margin: auto;
  text-align: center;
}

.form-container .row {
  display: flex;
  gap: 20px;
}

.input-group {
  flex: 1;
  text-align: left;
  margin-top: 20px;
}

label {
  font-size: 16px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  background: var(--card);
  border: none;
  border-radius: 10px;
  margin-top: 8px;
  border: #090909 solid;
}

button {
  margin-top: 25px;
  padding: 12px 22px;
  background: var(--primary);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-4px);
}

/* -------------------------
   RESPONSIVE DESIGN
-------------------------- */
@media (max-width: 900px) {
  .Home {
    flex-direction: column;
    text-align: center;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .skills-content {
    flex-direction: column;
  }
  .service-container{

    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar-menu {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: var(--bg);
    padding: 40px 25px;
  }

  .navbar-menu ul {
    flex-direction: column;
    gap: 25px;
  }
}
