*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;

}



body {
    background-color: gray;
    color: white;
    margin: 50px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 0;
    padding: 20px;
    
    border-radius: 10px;
}

 a {
    color: azure;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9% ;
    background: rgb(121, 39, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a {
    color: rgb(15, 13, 13);
}

.Home {
    display: flexbox;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: rgb(244, 251, 251);
}

  h1 {
 font-size: 50px;
 margin-top: 200px;
}

 h2 {
    font-size: 32px;
    margin-top: 10px;
}
 p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.links{
    margin-left: 20px;
}
 .links a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid  rgb(121, 39, 39);
    border-radius: 50%;
    font-size: 20px;
    color:  rgb(121, 39, 39);
    margin: 0 8 px;
    transition: .5s;
 }

 .links a:hover{
    background-color: black;
    color: white;
   border: 2px solid white;
   box-shadow: 0 0 10px;
 }

 .home-img .img-box {
    width: 32vw;
    height: 32vw;
    background: rgb(74, 52, 52);
    padding: 5px;
    border-radius: 50%;
    position: relative;
    left: 800px;
    bottom: 500px;
 }
  .home-img .img-box ::before{
    content: "";
    position: absolute;
    width: 500px;
    height: 500px; 
    background: gray(transparent,transparent,transparent, gray);   
}

 .home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(121, 39, 39);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;

  
 }

  .home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
  }

  .rights p{
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    font-size: 15px;
    color: rgb(10, 10, 10);
  }